@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Mono:ital@0;1&display=swap');

:root {
    --cor-principal: #810d87;
    --cor-background: #E0E0E0;
    --cor-destaque: #EFEFEF;
    --cor-cabecalho-tabela: #404040;
    --cor-corpo-tabela: #363636;
}

* {
    margin: 0;
    padding: 0;

    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.cabecalho {
    background-color: var(--cor-principal);
    height: 70px;
}
.cabecalho nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.cabecalho a {
    color: white;
    text-decoration: none;
}