.conteudo-principal {
    display: flex;
    flex-direction: row;
    background-color: var(--cor-background);

    height: calc(100vh - 70px);
}

.ctn-esquerdo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.ctn-esquerdo img {
   width: 50%;
   margin-top: 10%;
   margin-bottom: 10%;
}

.ctn-direito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.ctn-direito img {
    width: 80%;
}