.conteudo-principal {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 0px;

    height: calc(100vh - 70px); /* Calcula o espaço a ser ocupado subtraindo o cabeçalho */
}
    
.div-btn-novo {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;

    display: flex;
    justify-content: center; /* Centraliza na horizontal */
    align-items: center; /* Centraliza na vertical */
}

.div-titulo-tabela {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-column-start: 3;

    display: flex;
    justify-content: center; /* Centraliza na horizontal */
    align-items: center; /* Centraliza na vertical */
}

.div-vazio {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 7;
}

.div-tabela {
    grid-column: span 8 / span 8;
    grid-row: span 6 / span 6;
    grid-row-start: 3;
}

.div-btn-novo a {
    display: inline-block; /* Aplica o espaçamento inline-block */
    padding: 10px 40px; /* Adiciona um padding de 10px no topo e fundo e 40px nos lados*/
    background-color: var(--cor-principal); /* Altera a cor do fundo */
    color: var(--cor-destaque); /* Altera a cor do texto */
    text-decoration: none; /* remove toda decoração do texto */
    border-radius: 8px; /* Adiciona um raio de 8px nas bordas */
}

.tabela {
    width: 80%; /* a tabela ocupa 80% do largura disponível */

    margin: 0 auto; /*  centraliza a tabela na página */
}

.tabela thead {
    background-color: #5B5B5B; /* altera a cor do fundo do thead */
    color: var(--cor-destaque); /* altera a cor do texto do thead */
    height: 2rem; /* altera a tamanho da altura do thead */
}

.tabela tbody {
    background-color: #6a6a6a; /* altera a cor do fundo do tbody */
    color: var(--cor-destaque); /* altera a cor do texto do tbody */
}

td {
    text-align: center; /* Centraliza o texto */
}